<!--Navigation Bar-->
<nav class="navbar navbar-expand navbar-dark bg-dark"O>
  <div class="container">
    <a href="index.html" class="navbar-brand">TU-K E-SUGGESTION BOX</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto ml-auto">
        <a routerLink="" class="nav-item active nav-link">Home</a>
        <a routerLink="/about-us" class="nav-item active nav-link">About Us</a>
        <a routerLink="/contact-us" class="nav item active nav-link">Contact Us</a>
        <li class="nav-item  dropdown">
          <a href="#" class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="#" class="dropdown-item">Logout</a>
            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#login">Login</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <p style="margin:20px; text-align: justify;">Technical university of Kenya have continuously been giving members of the institution
       right for expression, whereby individuals can post their info on suggestion box based on 
       feeling they face within the environment. Advancement of technology in information science 
       has greatly impacted the institution curriculum particularly in information sharing i.e. 
       introduction of E-suggestion box system.</p>

       <p style="margin:20px; text-align: justify;">Reason for advancing to newly automated system is that it will get rid of some of the challenges that the manual system have been facing these include insecurity, cost movement, time consumption etc. 
          E-suggestion box system will convert all tasks that are carried out by manual system installed in several location within the school compound. 
        </p>
        <h6 style="margin:20px; text-align: justify;">Registering complaints related to the institution</h6>
        <p style="margin-left:20px; margin-right: 20px; text-align: justify;">For registering complaints and grievance’s through the E-suggestion box, a valid email id is required. The registration of complaint through the E-suggestion is very easy. To register complaint, please click on the tab Account as shown on the screen. The next screen will ask information about post information.  After filling all necessary details, kindly click on submit button for submission</p>
  </div>
</div>


