<!--Navigation Bar-->
<nav class="navbar navbar-expand navbar-dark bg-dark"O>
  <div class="container">
    <a href="index.html" class="navbar-brand">TU-K E-SUGGESTION BOX</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto ml-auto">
        <a routerLink="" class="nav-item active nav-link">Home</a>
        <a routerLink="/about-us" class="nav-item active nav-link">About Us</a>
        <a routerLink="/contact-us" class="nav item active nav-link">Contact Us</a>
        <li class="nav-item  dropdown">
          <a href="#" class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="#" class="dropdown-item">Logout</a>
            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#login">Login</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h1 style="margin: 30px"><strong>CONTACT US</strong></h1>
    </div>

    <div class="col-lg-3">
      <img style="margin: 30px" src="assets/contact-us.png" width="300px" height="100px" alt="">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <ol>
        <ul style="list-style: none">
          <li><strong>Nicholas Njoroge</strong> </li>
          <li><strong>Student</strong> </li>
          <li><strong>Technical University of Kenya</strong> </li>
          <li><strong>Diploma in Computer Technology</strong> </li>
          <li><strong>selelahnicholas@gmail.com</strong></li>
          <li><strong>Phone No: +254707898857</strong></li>
        </ul>
      </ol>
    </div>
  </div>
</div>
